body{
  font-family: "Microsoft YaHei",-apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, 
    "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", 
    "Source Han Sans SC",  "Wenquanyi Micro Hei",
     "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  font-size: 0.32rem;
  background-color: #6219ec;
  color:white;
  height: 100vh;
}
